.about-container {
	background: rgb(22, 22, 22);
	color: white;
	min-height: 110vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.center {
		.title {
			text-align: center;
		}

		.flex {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			max-width: 1100px;
			padding: 20px 0;
			.image {
				margin-right: 30px;
				padding: 20px;
				flex: 1;
				width: 100%;
				img {
					border-radius: 53% 47% 54% 46% / 48% 36% 64% 52%;
					// border: 2px solid white;
					padding: 5px;
					box-shadow: 1px 1px 1px 1px white, 3px 3px 0px 0px #646cff;
				}
			}
			.content {
				flex: 2;
				.highlight {
					font-size: 30px;
					line-height: normal;
					font-family: Aurore;
				}
				.details {
					text-align: justify;
					letter-spacing: 0.5px;
				}
				.hire {
					margin-right: 30px;
				}
			}
		}
	}
}
