.blog-container {
  min-height: 70vh;
  background: var(--primary-dark);
  color: #eee;
  display: flex;
  align-items: center;
  background-image: url("../../assets/svgs/Items.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 40vw;
  justify-content: center;
  .title {
    font-size: 80px;
    letter-spacing: 2px;
    text-align: center;
    transform: translateY(-100px);
  }
}

@media screen and (max-width: 1200px) {
  .blog-container {
    min-height: calc(100vh - 60vh);
    background-size: 100vw;
    .title {
      font-size: 25px;
      transform: translateY(-75px);
    }
  }
}

@media screen and (max-width: 325px) {
  .blog-container {
    min-height: calc(100vh - 60vh);
    background-size: 100vw;
    .title {
      font-size: 18px;
      transform: translateY(-50px);
    }
  }
}
