.views-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  background-image: url("../../assets/svgs/line.svg");
  background-repeat: no-repeat;
  background-position: 20px 20px;
  .center {
    margin: auto;
    .content {
      padding: 100px 0;
      .title {
        -webkit-text-stroke-color: #161616;
        -webkit-text-stroke-width: 2px;
        color: transparent;
        margin: auto;
        // color: var(--accent-color);
        margin-bottom: 50px;
        text-align: center;
        width: fit-content;
        padding: 20px;
        h1 {
          transition: all 1s ease-in-out;
          transform: translateX(-200px);
        }

        .bganimate {
          text-align: center;
          transform: translateX(200px);
        }
      }
      .flex-wrapper {
        display: flex;
        max-width: 1224px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .items {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 400px;
          margin: 30px;
          max-width: 200px;
          height: 100%;
          .icon-div {
            display: flex;
            align-items: flex-end;
            justify-self: end;
            padding: 10px;
            margin-top: auto;
            svg {
              font-size: 40px;
              opacity: 0.5;
            }
          }
          .count-div {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            color: #161616;
            span {
              font-size: 50px;
            }
          }
        }
      }
    }
  }
  span {
    font-size: 50px;
    font-weight: 800;
  }
}

@media screen and (max-width: 1200px) {
  .views-container {
    .center {
      .content {
        padding: 50px 0;
        .title {
          font-size: 15px;
          margin-bottom: 30px;
          h1 {
            transition: all 20s ease-in-out;
            transform: translateX(0px);
          }
        }
        .bganimate {
          text-align: center;
          transform: translateX(0px);
        }
        .flex-wrapper {
          display: flex;
          max-width: 1224px;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          .items {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 400px;
            margin: 30px;
            max-width: 200px;
            .icon-div {
              display: flex;
              align-items: flex-end;
              padding: 10px;
              svg {
                font-size: 50px;
                opacity: 0.5;
              }
            }
            .count-div {
              display: flex;
              flex-direction: column;
              margin-top: 50px;
              color: #161616;
              span {
                font-size: 70px;
              }
            }
          }
        }
      }
    }
  }
}
